{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
  "ignorePatterns": ["webpack.config.js"],
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies" : "off",
    "import/prefer-default-export" : "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "{react*,react*/**,next*,next*/**}",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react", "next"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-misused-promises": ["error", {
      "checksVoidReturn": {
        "attributes": false
      }
    }],
    "unused-imports/no-unused-imports": "error"
  }
}
